*{
  margin: 30px;
}
.div{
  background-color: aquamarine;
  font-size: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  display: flex;
}
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover{
  background-color: green;
  color: white;
}

a.active{
  background-color: green;
  color: white;
}